.facts-container{
    background-color: #C4E3CB;
}

.fact{
    width: 540px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 31px 14px 32px 13px;
    display: flex;
    align-items: flex-start;
}

.facts-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 69px;
}

.fact-new-desc{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 174px;
}

.fact-new-desc h6{
    width: 295px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 151.9%;
    color: #000000;
}

.fact p{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 151.9%;
    color: #616161;
}

.facts-cont-title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157.9%;
    color: #000000;
}

.facts-wrapper{
    margin-top: 70px;
}

.text-all{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.text-wwii{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.text-memd{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.text-wwi{
    width: 172px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.facts-selector ul{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
}

.facts-selector ul li{
    list-style: none;
    transition: 0.3s ease;
}

.facts-selector ul li:hover{
    cursor: pointer;
    color: #8AAE92;
}

.hide{
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: none;
}

@keyframes a1{
    to{
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.footer-facts{
    margin-top: 0;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }



}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .menu-wrap{
        display: none;
    }
    
    .nav{
        justify-content: space-between;
    }

    .menu-f{
        flex-direction: column;
    }

    .menu-f-wrap{
        margin: 0 auto;
        width: 150px;
    }

    .footer hr{
        width: 149px;
    }

    .credits{
        flex-direction: column;
    }

    .credits p{
        width: 149px;
        margin: 0 auto;
    }

    .credits a{
        margin-top: 33px;
        margin-left: 37px;
    }

    .logo-f{
        width: 160%;
        margin-left: 8px;
    }

    .facts-cont-title{
        text-align: center;
    }

    .facts-selector ul{
        margin: 0 63px;
    }

    .facts-row{
        flex-direction: column;
        gap: 75px;
    }

   

    
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .facts-selector ul{
        flex-direction: column;
    }

    .fact{
        width: 100%;
        flex-direction: column;
    }

    .fact img{
        width: 115px;
    }

    .fact-new-desc{
        width: 100%;
    }

    .fact-new-desc h6{
        width: 100%;
        font-size: 17px;
        margin-top: 16px;
    }

    .credits a{
        margin-left: 137px;
    }

    

   
}