html{
	scroll-behavior: smooth;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

section{
	padding-top: 120px;
}

.container{
	max-width: 1143px;
	margin: 0 auto;
}

.header{
	background: url('../img/bg.png') no-repeat center top / cover;
	padding-top: 58px;
	padding-bottom: 87px;
}

.link a{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	margin-left: 33px;
	text-decoration: none;
}

.link{
	display: flex;
	align-items: center;
}

.links{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.links-wrap{
	display: flex;
	align-items: center;
	gap: 50px;
}

.search input{
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	width: 170px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	background-color: #F1F8FE;
}

.search img{
	background-color: #F1F8FE;
	margin-left: 8px;
}

.search button{
	background-color: #F1F8FE;
}

.search button:hover{
	cursor: pointer;
}

.search{
	display: flex;
	align-items: center;
	margin-left: 110px;
}

.eye h6{
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	margin-left: 16px;
}

.eye a{
	text-decoration: none;
	color: #000;
}

.eye{
	display: flex;
	align-items: center;
	margin-top: 43px;
}

.search-eye{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 40px;
}

.navigation{
	display: flex;
	align-items: center;
}

.nav-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-wrap{
	background-color: #267EB9;
	margin-top: 27px;
}

.menu li{
	list-style: none;
}

.menu li a{
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}

.menu{
	display: flex;
	align-items: center;
	gap: 60px;
	padding: 23px 0;
}

.greeting{
	margin-top: 85px;
}

.offer h1{
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}

.offer h2{
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin-top: 29px;
	margin-bottom: 29px;
}

.offer p{
	width: 545px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
}

.cta-1{
	display: block;
	width: 234px;
	background: #267EB9;
	border-radius: 5px;
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: #fff;
	padding: 19px 68px;
	transition: 0.3s ease;
}

.cta-2{
	display: block;
	border: 1px solid #267EB9;
	border-radius: 5px;
	width: 235px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: #267EB9;
	padding: 19px 33px;
	text-decoration: none;
	transition: 0.3s ease;
	margin-left: 42px;
}

.cta-1:hover{
	background-color: #20699a;
}

.cta-2:hover{
	background-color: #267EB9;
	color: #fff;
}

.cta-offer{
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.greeting{
	display: flex;
	align-items: center;
}

.offer{
	margin-left: 70px;
}

.section-title{
	display: flex;
	align-items: center;
	gap: 12px;
}

.section-title h2{
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
}

.news{
	background: url('../img/after.png') no-repeat right ;
}

.news-card{
	width: 359px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), -4px 4px 8px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	padding-bottom: 10px;
	height: 562px;
}

.news-wrapper{
	margin-top: 90px;
	display: flex;
	align-items: center;
	gap: 33px;
	overflow: hidden;
}

.news-cont h5{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	color: #267EB9;
}

.news-cont h4{
	width: 293px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	margin-top: 16px;
	margin-bottom: 16px;
}

.news-desc{
	width: 267px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.05em;
}

.news-cont{
	padding-left: 30px;
	margin-top: 43px;
}

.news-cont a{
	display: block;
	width: 99px;
	background: #267EB9;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-top: 25px;
	margin-bottom: 16px;
	transition: 0.3s ease;
}

.news-author{
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.05em;
	color: rgba(0, 0, 0, 0.56);
	width: 42px;
}

.news-date{
	margin-left: 8px;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.05em;
	color: rgba(0, 0, 0, 0.56);
	width: 48px;
	border-left: 1px solid rgba(0, 0, 0, 0.56);
	padding-left: 8px;

}

.news-credits{
	display: flex;
	align-items: center;
}

.news-cont a:hover{
	background-color: #206a9c;
}

.news-line{
	display: flex;
	align-items: center;
	gap: 33px;
	width: 1927px;
	position: relative;
	transition: all ease 1s;
}

.slider-btns{
	display: flex;
	align-items: center;
	gap: 27px;
}

.slider-btns img{
	cursor: pointer;
}

.news-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.all-news{
	display: block;
	width: 239px;
	margin-top: 34px;
	background: #267EB9;
	border-radius: 10px;
	text-decoration: none;
	padding: 21px 59px;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 0.05em;
	color: #FFF;
	transition: 0.3s ease;
}

.all-news:hover{
	background-color: #206a9c;
}

.stats{
	background: url('../img/after.png') no-repeat right;
}

.stats-img{
	position: absolute;
	top: 2000px;
	display: none;
	transition: all ease-in-out 1s;
}

.img-active{
	display: block;
}

.stats-title hr{
	width: 86px;
	border: 3px solid #267EB9;
	margin-top: 30px;
	background-color: #267EB9;
	border-radius: 3px;
}

.stats-wrap{
	margin-top: 90px;
}

.stat h5{
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
}

.stat h6{
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #000000;
}

.stats-block{
	display: flex;
	align-items: center;
	gap: 116px;
}

.bottom-block{
	margin-top: 87px;
}

.stats-wrap{
	display: flex;
	align-items: center;
	gap: 183px;
}

.programms-title{
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #000000;
	text-align: center;
}

.programms-wrap{
	margin-top: 90px;
	display: flex;
	align-items: center;
	gap: 33px;
}

.programm-card{
	width: 359px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.09);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), -8px 8px 16px rgba(0, 0, 0, 0.08);
	border-radius: 12px;
	padding: 50px 36px 50px 37px;
	height: 582px;
}

.prog-title span{
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.05em;
	color: #0085FF;
}

.prog-title{
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 0.05em;
	color: #000000;
}

.programm-card h6{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 10px;
}

.prog-desc{
	width: 264px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	color: #000000;
}

.first-prog-hr{
	margin-top: 40px;
}

.programm-card hr{
	width: 286px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	background-color: rgba(0, 0, 0, 0.09);
	margin-top: 23px;
}

.benefit{
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.benefit p{
	width: 269px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #000000;
	margin-left: 10px;
}

.programm-card a{
	text-decoration: none;
	display: block;
	width: 275px;
	background: #0085FF;
	border-radius: 10px;
	padding: 11px 73px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 128.4%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-top: 58px;
	transition: 0.3s ease;
}

.middle-card{
	margin-top: 52px;
}

.middle-a{
	margin-top: 109px;
}

.bottom-a{
	margin-top: 40px;
}

.drop{
	position: absolute;
	z-index: -100;
}

.programm-card a:hover{
	background-color: #0069c9;
}

.plans h2{
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #000000;
	text-align: center;
}

.plans-wrap{
	margin-top: 90px;
}

.plans-wrap a{
	text-decoration: none;
}

.the-plan a p{
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 207.9%;
	letter-spacing: 0.05em;
	color: #000;
	margin-top: 20px;
}

.the-plan{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 253px;
}

.plan-string{
	display: flex;
	align-items: center;
	gap: 76px;
}

.plans-wrap{
	display: flex;
	flex-direction: column;
	gap: 145px;
	margin: 90px 214px 0 261px;
}

.about-wrap{
	margin-top: 90px;
	display: flex;
	align-items: center;
}

.about-wrap p{
	width: 485px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 165.4%;
	letter-spacing: 0.05em;
	color: #000000;
	border: 1px dashed rgba(0, 0, 0, 0.16);
	padding: 37px 44px 38px 45px;
	margin-left: 71px;
}

.kvant-tag{
	background: url('../img/kvant.png') no-repeat center top / cover;
	margin-top: 120px;
	padding: 81px 0 86px 0;
	background-attachment: fixed;
	z-index: -100;
}

.banner-title{
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 207.9%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-align: center;
}

.banner-title span{
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 207.9%;
	letter-spacing: 0.05em;
	color: #0066FF;
	font-family: 'Montserrat', sans-serif;
}

.banner-text{
	margin-top: 37px;
	width: 1137px;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 207.9%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-align: center;
}

.kvant-tag a{
	display: block;
	width: 249px;
	background: #0066FF;
	border-radius: 7px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 207.9%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	padding: 13px 60px;
	text-decoration: none;
	transition: 0.3s ease;
	margin: 40px auto 0 auto;
}

.kvant-tag a:hover{
	background-color: #0052cd;
}

.pre-footer{
	background-color: #EFF7FF70;
}

.pre-footer p{
	color: #EFF7FF70;
	text-align: center;
}

.footer{
	background: #FFFFFF;
	border-radius: 30px;
}

.f-logos{
	display: flex;
	align-items: center;
	gap: 27px;
}

.credits p{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.53);
	margin-top: 39px;

}

.footer-content{
	width: 942px;
	background: #267EB9;
	border-radius: 0px 30px 30px 0px;
	padding: 81px 228px 81px 61px;
}

.menu-f li a{
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}

.menu-f li{
	list-style: none;
}

.f-menu-wrap h6{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.menu-f{
	margin-top: 43px;
	display: flex;
	flex-direction: column;
	gap: 33px;
	border-right: 1px solid rgba(233, 233, 233, 0.22);;
}

.f-menu-wrap{
	width: 371px;
}

.contacts h6{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.the-contacts:first-child{
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

.the-contacts a{
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.the-contacts{
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	gap: 31px;
}

.medias h6{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.media-links{
	display: flex;
	align-items: center;
	gap: 41px;
	margin-top: 35px;
}

.medias{
	margin-top: 59px;
}

.footer-content{
	display: flex;
	align-items: center;
	margin-left: 95px;
}

.contacts-medias{
	margin-left: 57px;
}

.contacts{
	width: 228px;
}

.footer-content-wraper{
	display: flex;
	align-items: center;
}

.to-top{
	position: fixed;
	top: 638px;
	left: 45px;
	visibility: hidden;
	transition: 0.5s ease;
}

.to-top.active-top{
	visibility: visible;
}

.test-sec-title{
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #000000;
}

.testimonial-content-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 141px;
}

.testimonial-wrap{
	background: #267EB9;
	border-radius: 20px;
	padding: 40px 150px 40px 98px;
	width: 947px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 98px;
}

.main-test-t{
	width: 340px;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 139.9%;
	color: #FFFFFF;
}

.name-test-t{
	margin-top: 31px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 139.9%;
	color: #FFFFFF;
}

.class-test-t{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 139.9%;
	color: #FFFFFF;
	margin-top: 6px;
}

.test-line{
	display: flex;
	align-items: center;
}

::-webkit-scrollbar{
	width: 20px;
}

::-webkit-scrollbar-track{
	background: rgba(221, 221, 221, 0.6);
}

::-webkit-scrollbar-thumb{
	background: #267EB9;
	border-radius: 5px;
}

