html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Jost', sans-serif;
	color: #fff;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
}

.header{
	background: url('../img/bg.png') no-repeat center top / cover;
	padding-top: 55px;
}

.menu li a{
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 124%;
	color: #fff;
	transition: 0.3s ease;

}

.menu li{
	list-style: none;
}

.menu{
	display: flex;
	gap: 24px;
}

.links{
	display: flex;
	gap: 20px;
	align-items: center;
}

.menu-r{
	display: flex;
	gap: 25px;
	align-items: center;
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu li a:hover{
	color: #a9d853;
	transition: 0.3s ease;
}

.offer-title{
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 124%;
	width: 550px;
}

.offer-text{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 124%;
	width: 560px;
	margin-top: 14px;
	margin-bottom: 60px;
}

.offer-link{
	display: block;
	width: 233px;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px 36px 13px 40px;
	transition: 0.3s ease;
}

.offer-link:hover{
	background-color: #a9d853;
	transition: 0.3s ease;
	border: 0;
}

.link-t{
	text-decoration: none;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 124%;
}

.links-wrap{
	display: flex;
	align-items: center;
	gap: 21px;
}

.offer{
	display: flex;
	align-items: center;
	gap: 192px;
	margin: 66px 53px 150px 80px;

}

.offer-content{
	margin-top: -131px;
}

.functions{
	padding-top: 60px;
}

.functions-title{
	color: #000;
	font-style: normal;
	font-weight: 500;
	font-size: 46px;
	line-height: 66px;
	text-align: center;
}

.functions-text{
	width: 424px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 124%;
	text-align: center;
	letter-spacing: 0.08em;
	color: #ABABAB;
	margin: 23px auto;
}